.body {
    /* height: 100vh; */
}
.email-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 660px;
    height: 400px;
}
.div-1 {
    background-color: pink;
}
.div-2 {
    background-color: salmon;
}